// Styles de la page Home
.infos-block{

}
.home-page{
    background-color:skyblue ;
}
.Titre{
    color:  white;
    padding-left: 40%;
    font-size: 70px;
}
.Sous-titre{
    color: blue;
    padding-left: 20%;
    font-size: 50px;
}
.infos-block{
    
}